.landing-page-about {
  padding: 80px 20px;
  display: flex;
  justify-content: center;
}

.landing-page-about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  gap: 40px;
  background-color: var(--color-green-background);
  border-radius: 20px;
  border: 1px solid var(--color-green);
}

.landing-page-about-text {
  flex: 1;
  margin: 20px;
  padding: 20px;
}

.landing-page-about-text h2 {
  color: var(--color-green);
  font-size: 2.2rem;
  margin-bottom: 20px;
}

.landing-page-about-text p {
  color: var(--color-text2);
  line-height: 1.7;
  font-size: 1.1rem;
}

.landing-page-about-text button {
  background-color: var(--color-button);
  color: var(--color-white);
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

.landing-page-about-text button:hover {
  background-color: var(--color-button-hover);
}

.landing-page-about-image {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.landing-page-about-image img {
  width: 100%;
  max-width: 250px;
  border-radius: 16px;
  box-shadow: 0 6px 16px var(--color-dark-transparent);
  object-fit: cover;
}

@media (max-width: 900px) {
  .landing-page-about-container {
    flex-direction: column;
    text-align: center;
  }

  .landing-page-about-image {
    order: -1;
  }
}
