.adopt-carousel-section {
  /* background-color: #f0faf2; */
  padding: 60px 20px;
  text-align: center;
}

.section-title {
  color: var(--color-green);
  font-size: 2rem;
  margin-bottom: 30px;
}

.adopt-carousel-container {
  max-width: 1400px;
  margin: 0 auto;
}

.adopt-slide {
  padding: 10px;
}

.adopt-card {
  background-color: var(--color-white);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.2s ease;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.adopt-card:hover {
  transform: translateY(-5px);
}

.adopt-image-container img {
  width: 100%;
  height: 370px;
  object-fit: cover;
}

.adopt-image-placeholder {
  background-color: var(--color-placeholder);
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text2);
}

.adopt-card-body {
  padding: 15px;
}

.adopt-card-body h3 {
  color: var(--color-green);
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.adopt-card-body p {
  color: var(--color-text2);
  font-size: 1rem;
  margin-bottom: 15px;
}

.adopt-button {
  background-color: var(--color-button);
  color: var(--color-white);
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.adopt-button:hover {
  background-color: var(--color-button-hover);
}

.adopt-title-link {
  color: var(--color-green);
  text-decoration: none;
  transition: color 0.3s ease;
}

.adopt-title-link:hover {
  color: var(--color-button-hover);
}

.slick-prev:before,
.slick-next:before {
  color: var(--color-green) !important;
  font-size: 36px !important;
  opacity: 1 !important;
}

.slick-prev,
.slick-next {
  z-index: 10 !important;
  display: block !important;
  opacity: 1 !important;
}

.slick-prev {
  left: -10px !important;
  top: -50px !important;
  z-index: 2 !important;
}

.slick-next {
  right: 10px !important;
  z-index: 2 !important;
  top: -50px !important;
}

.slick-prev:hover:before,
.slick-next:hover:before {
  color: var(--color-button-hover) !important;
}
