.articles-carousel-section {
  /* background-color: #f0faf2; */
  padding: 60px 20px;
  text-align: center;
}

.section-title {
  color: var(--color-green);
  font-size: 2rem;
  margin-bottom: 30px;
}

.articles-carousel-container {
  position: relative;
  max-width: 1400px;
  margin: 10px auto;
}

.article-slide {
  padding: 10px;
}

.carousel-article-card {
  background-color: var(--color-white);
  border-radius: 12px;
  box-shadow: 0 4px 10px var(--color-dark-transparent);
  overflow: hidden;
  text-align: left;
  transition: transform 0.2s ease;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.carousel-article-card:hover {
  transform: translateY(-5px);
}

.carousel-image-container img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.carousel-image-placeholder {
  background-color: var(--color-placeholder);
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text2);
}

.carousel-card-body {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.carousel-card-body h3 {
  color: var(--color-green);
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.carousel-card-body p {
  color: var(--color-text2);
  margin-bottom: 12px;
  font-size: 0.95rem;
  flex-grow: 1;
}

.carousel-read-more-btn {
  background-color: var(--color-button);
  color: var(--color-white);
  text-decoration: none;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 6px;
  display: inline-block;
  text-align: center;
  transition: background-color 0.3s ease;
}

.carousel-read-more-btn:hover {
  background-color: var(--color-button-hover);
}

.slick-prev:before,
.slick-next:before {
  color: var(--color-green) !important;
  font-size: 36px !important;
  opacity: 1 !important;
}

.slick-prev,
.slick-next {
  z-index: 10 !important;
  display: block !important;
  opacity: 1 !important;
}

.slick-prev {
  left: -10px !important;
  top: -50px !important;
  z-index: 2 !important;
}

.slick-next {
  right: 10px !important;
  z-index: 2 !important;
  top: -50px !important;
}

.slick-prev:hover:before,
.slick-next:hover:before {
  color: var(--color-button-hover) !important;
}

.articles-title-link {
  color: var(--color-green);
  text-decoration: none;
  transition: color 0.3s ease;
}

.articles-title-link:hover {
  color: var(--color-button-hover);
}
