.contact-wrapper {
  display: flex;
  justify-content: center;
  padding: 50px 20px;
}

.contact-card {
  width: 100%;
  max-width: 550px;
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out;
}

.contact-card h2 {
  text-align: center;
  font-size: 2rem;
}

.subtitle {
  text-align: center;
  margin-bottom: 20px;
  color: #666;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.input-group {
  position: relative;
}

.icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: var(--color-green);
  font-size: 1.2rem;
}

.input-group input {
  width: 100%;
  padding: 12px 12px 12px 40px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 15px;
  outline: none;
}

.input-group textarea {
  width: 100%;
  padding: 12px 12px 12px 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 15px;
  outline: none;
}

textarea {
  resize: none;
}

button {
  background: var(--color-green);
  color: white;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #cf6e1a;
}

.form-status {
  text-align: center;
  font-weight: 600;
  margin-top: 10px;
  color: #444;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
