:root{
  --green:#0d7633;
  --light-green:#5aba59;
  --transparent-green:rgba(90, 186, 89,0.3)
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, var(--transparent-green), var(--transparent-green));
  font-family: "Segoe UI", sans-serif;
}

.login-box {
  background: white;
  padding: 2rem 3rem;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 1.5rem;
  color: var(--green);
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: 0.2s ease;
}

.login-box input:focus {
  border-color: var(--transparent-green);
  box-shadow: 0 0 5px var(--transparent-green);
  outline: none;
}

.login-box button {
  width: 100%;
  background-color: var(--green);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease;
}

.login-box button:hover {
  background-color: var(--light-green);
}

.login-box p {
  color: red;
  margin-top: 1rem;
}