html, body {
  padding-top: 40px;
  margin: 0;
  height: 100%;
  background-color: #e0f2e5 !important;
  position: relative;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url(./assets/images/paw_background.png);
 background-repeat: repeat;
 
  transform-origin: center;
  opacity: 0.25;
  z-index: 0;
  pointer-events: none;
}

#root, .App {
  position: relative;
  z-index: 1;
  background: transparent;
}

:root{
  --green:#0d7633;
  --light-green:#5aba59;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
